.input{
  margin-top: 20px !important;
}
.imagen{
  flex-direction: column;
  width: 100%;  
  padding-bottom: 10px;
}

.image{
  width: 100%;  
  height: auto;
  border-radius: 10px;
}

.modal-footer{
  justify-content: initial !important;
}

.titleModal{
  margin-bottom: 5px;
}

.userModal{
  font-size: 18px;
  margin-bottom: 0px;
}

.tagsModal{
  font-size: 15px;
  margin-bottom: 0px;
}

.modal-title{
  max-width: 93%;
}

.imagenes{
  column-count: 5;
  column-gap: 10px;
  padding: 10px;
}

@media (max-width: 900px) {
  .imagenes{
    column-count: 4;
    column-gap: 10px;
    padding: 10px;
  }
}

@media (max-width: 700px) {
  .imagenes{
    column-count: 3;
    column-gap: 10px;
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .imagenes{
    column-count: 2;
    column-gap: 10px;
    padding: 10px;
  }
}

@media (max-width: 400px) {
  .imagenes{
    column-count: 1;
    column-gap: 10px;
    padding: 10px;
  }
}
