.imagen{
  display: inline-flex;
  flex-direction: column;
  width: 100%;  
  padding-bottom: 10px;
}

.image{
  width: 100%;  
  height: auto;
  border-radius: 10px;
}

.modal-footer{
  justify-content: initial !important;
}

.titleModal{
  margin-bottom: 5px;
}

.userModal{
  font-size: 18px;
  margin-bottom: 0px;
}

.tagsModal{
  font-size: 15px;
  margin-bottom: 0px;
}

.modal-title{
  max-width: 93%;
}
